<!DOCTYPE html>
<html>
    <head>
        <title>Chat app</title>
        <style>
            #chat-messages {
                display: flex;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <center><h1><%= roomName %></h1></center>
        <div id="chat-messages">

        </div>
        <div id="send-message">
            <div>
                <input id="write-message" type="text" placeholder="write message...">
            </div>
            <button onclick="sendMessage()">Send</button>
        </div>
        <script src="../socket.io/socket.io.js"></script>
        <script>
            var roomid = 'chatroom/'+"<%= room %>";
            const socket = io();
            var msg = '';

            socket.emit('join', {room: roomid});

            function sendMessage() {
                msg = document.getElementById('write-message').value;
                document.getElementById('write-message').value = '';
                socket.emit('createMessage', {text: msg, room: roomid});
            }
            socket.on('newMessage', (data) => {
                var node = document.createElement('div');
                node.innerText = data.text;
                document.getElementById("chat-messages").appendChild(node);
            });
        </script>
    </body>
</html>